In [193]:
import pandas as pd 
from pathlib import Path 
import numpy as np

DATA_DIR = Path('../data')

In [194]:
pd.__version__

'2.2.1'

In [195]:
connection_graph = pd.read_csv(DATA_DIR / 'connection_graph.csv', usecols=['line', 'departure_time', 'arrival_time', 'start_stop', 'end_stop'], 
                               dtype=str)

In [196]:
connection_graph.dtypes

line              object
departure_time    object
arrival_time      object
start_stop        object
end_stop          object
dtype: object

In [197]:
connection_graph.columns

Index(['line', 'departure_time', 'arrival_time', 'start_stop', 'end_stop'], dtype='object')

In [198]:
connection_graph.head()

  line departure_time arrival_time   start_stop     end_stop
0    A       20:00:00     20:01:00       KRZYKI        Sowia
1    A       20:01:00     20:02:00        Sowia      Chłodna
2    A       20:02:00     20:03:00      Chłodna  Wawrzyniaka
3    A       20:03:00     20:05:00  Wawrzyniaka     Rymarska
4    A       20:05:00     20:06:00     Rymarska   RACŁAWICKA

In [199]:
len(connection_graph)

281507

Obserwacja: niektóre linie są wyrażone jako int, a niektóre jako str - najlepiej to sprowadzić to wspólnego formatu str

In [200]:
connection_graph['line'].unique()

array(['A', 'C ', 'D', 'K', 'N', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '15', '16', '17', '20', '23', '31', '32', '33',
       '70', '74', '100', '101', '102', '103', '104', '105', '106', '107',
       '108', '109', '110', '111', '112', '113', '114', '115', '116 ',
       '117', '118', '119', '120', '121', '122', '123', '124', '125',
       '126', '127', '128 ', '129', '130', '131', '132', '133', '134',
       '136', '137', '138', '140', '142', '143', '144', '145', '146',
       '147', '148', '149', '150', '151 ', '206', '240', '241', '242',
       '243', '244', '245', '246', '247', '248', '249', '250', '251',
       '253', '255', '257', '259', '315', '319', '345', '602', '607',
       '612', '714', '903', '904', '907', '908', '909', '911', '913',
       '914', '917', '920', '921', '923', '924', '927', '930', '931',
       '933', '934', '936', '937', '938', '940', '941', '947', '948',
       '958', '967'], dtype=object)

Założenie: czas przejazdu między przystankami dla tej samej linii może być różny między różnymi godzinami

In [201]:
krzyki_sowia_conn = connection_graph[(connection_graph['start_stop'] == 'KRZYKI') & (connection_graph['end_stop'] == 'Sowia')]

In [202]:
krzyki_sowia_conn['line'].unique()

array(['A', '126', '248', '251'], dtype=object)

?? co to oznacza

In [246]:
connection_graph[(connection_graph['start_stop'] == connection_graph['end_stop'])]

,line,departure_time,arrival_time,start_stop,end_stop,departure_sec,arrival_sec
4471,C,06:50:00,06:51:00,PL. GRUNWALDZKI,PL. GRUNWALDZKI,24600,24660
4472,C,06:59:00,07:02:00,PL. GRUNWALDZKI,PL. GRUNWALDZKI,25140,25320
4498,C,08:14:00,08:15:00,PL. GRUNWALDZKI,PL. GRUNWALDZKI,29640,29700
4499,C,08:30:00,08:33:00,PL. GRUNWALDZKI,PL. GRUNWALDZKI,30600,30780
4533,C,06:20:00,06:21:00,PL. GRUNWALDZKI,PL. GRUNWALDZKI,22800,22860
...,...,...,...,...,...,...,...
280912,948,16:24:00,16:24:00,Krępicka,Krępicka,59040,59040
280942,948,06:19:00,06:20:00,LEŚNICA,LEŚNICA,22740,22800
280980,948,14:09:00,14:09:00,Krępicka,Krępicka,50940,50940
281035,948,10:28:00,10:28:00,Krępicka,Krępicka,37680,37680
281111,958,05:13:00,05:14:00,LEŚNICA,LEŚNICA,18780,18840

In [334]:
connection_graph.loc[4520:4540]

,line,departure_time,arrival_time,start_stop,end_stop,departure_sec,arrival_sec
4520,C,05:54:00,05:55:00,KOZANÓW,Dzielna,21240,21300
4521,C,05:55:00,05:56:00,Dzielna,Wiślańska,21300,21360
4522,C,05:56:00,05:58:00,Wiślańska,Kolista,21360,21480
4523,C,05:58:00,06:01:00,Kolista,Wejherowska,21480,21660
4524,C,06:01:00,06:02:00,Wejherowska,Rysia,21660,21720
4525,C,06:02:00,06:04:00,Rysia,DŁUGA (Politechnika),21720,21840
4526,C,06:04:00,06:05:00,DŁUGA (Politechnika),Poznańska,21840,21900
4527,C,06:05:00,06:06:00,Poznańska,Długa,21900,21960
4528,C,06:06:00,06:09:00,Długa,Dmowskiego,21960,22140
4529,C,06:09:00,06:11:00,Dmowskiego,Pomorska,22140,22260
4530,C,06:11:00,06:15:00,Pomorska,pl. Bema,22260,22500
4531,C,06:15:00,06:18:00,pl. Bema,Katedra,22500,22680
4532,C,06:18:00,06:20:00,Katedra,PL. GRUNWALDZKI,22680,22800
4533,C,06:20:00,06:21:00,PL. GRUNWALDZKI,PL. GRUNWALDZKI,22800,22860
4534,C,06:29:00,06:32:00,PL. GRUNWALDZKI,PL. GRUNWALDZKI,23340,23520
4535,C,06:32:00,06:34:00,PL. GRUNWALDZKI,Katedra,23520,23640
4536,C,06:34:00,06:37:00,Katedra,pl. Bema,23640,23820
4537,C,06:37:00,06:40:00,pl. Bema,Dubois,23820,24000
4538,C,06:40:00,06:43:00,Dubois,Dmowskiego,24000,24180
4539,C,06:43:00,06:46:00,Dmowskiego,Poznańska,24180,24360
4540,C,06:46:00,06:47:00,Poznańska,DŁUGA (Politechnika),24360,24420

In [203]:
from datetime import datetime, timedelta

In [204]:
(datetime.strptime('00:00:00', '%H:%M:%S') > datetime.strptime('23:59:00', '%H:%M:%S'))

False

In [205]:
def separate_time(time):
    return [int(tp) for tp in time.split(':')]

In [206]:
separate_time('20:00:00')

[20, 0, 0]

Obserwacja: istnieją godziny większe niż 23

In [207]:
connection_graph[connection_graph['departure_time'].apply(lambda x: separate_time(x)[0]) >= 24]

,line,departure_time,arrival_time,start_stop,end_stop
22870,2,24:00:00,24:02:00,DWORZEC AUTOBUSOWY,Sanocka
22871,2,24:02:00,24:03:00,Sanocka,Uniwersytet Ekonomiczny
22872,2,24:03:00,24:04:00,Uniwersytet Ekonomiczny,Zajezdnia GAJ
28266,3,24:00:00,24:01:00,Rondo,Sztabowa
28267,3,24:01:00,24:02:00,Sztabowa,Hallera
...,...,...,...,...,...
267306,908,24:05:00,24:06:00,Psary - Wolności,Szymanów - skrzyż.
267307,908,24:06:00,24:07:00,Szymanów - skrzyż.,Szymanów (Widawska)
267308,908,24:07:00,24:08:00,Szymanów (Widawska),Szymanów
267309,908,24:08:00,24:09:00,Szymanów,Szymanów (Letnia)
267310,908,24:09:00,24:10:00,Szymanów (Letnia),SZYMANÓW-pętla

In [234]:
connection_graph[connection_graph['departure_time'].apply(lambda x: separate_time(x)[0]) >= 24].max()

line                   908
departure_time    30:01:00
arrival_time      30:02:00
start_stop         Żmudzka
end_stop           Żmudzka
departure_sec        21660
arrival_sec          21720
dtype: object

In [209]:
connection_graph[connection_graph['departure_time'].apply(lambda x: separate_time(x)[0]) <= 4]

,line,departure_time,arrival_time,start_stop,end_stop
724,A,04:09:00,04:10:00,Zajezdnia Obornicka,Paprotna
725,A,04:10:00,04:11:00,Paprotna,Obornicka (Wołowska)
726,A,04:11:00,04:12:00,Obornicka (Wołowska),Bezpieczna
727,A,04:12:00,04:14:00,Bezpieczna,Bałtycka
728,A,04:14:00,04:16:00,Bałtycka,Broniewskiego
...,...,...,...,...,...
280818,947,04:59:00,05:01:00,Mokronos Górny - Wrocławska/Gwarna,Mokronos Dolny - Stawowa/Szczęśliwa
281010,948,04:52:00,04:55:00,Miękinia - pętla,Miękinia - stacja PKP
281011,948,04:55:00,04:56:00,Miękinia - stacja PKP,Miękinia Cegielnia
281012,948,04:56:00,04:59:00,Miękinia Cegielnia,Kadłub NŻ
281013,948,04:59:00,05:00:00,Kadłub NŻ,Kadłub wieś

In [210]:
from typing import Union

Czas zostanie znormalizowany tak, by wszystkie godziny były w przedziale [0:00; 23:59]

In [211]:
def to_seconds(time: str) -> int:
    h, m, s = separate_time(time)
    return h * 3600 + m * 60 + s

def time_to_normalized_sec(time: str) -> int:
    return to_seconds(time) % (3600 * 24)

In [212]:
connection_graph['departure_sec'] = connection_graph['departure_time'].apply(time_to_normalized_sec)
connection_graph['arrival_sec'] = connection_graph['arrival_time'].apply(time_to_normalized_sec)

In [213]:
print(connection_graph['departure_sec'].max() <= (24 * 3600))
print(connection_graph['arrival_sec'].max() <= (24 * 3600))

True
True

In [336]:
def diff(ts: Union[pd.Series, int], td: int) -> int:
    '''Function that returns difference between times expressed as seconds'''
    d = ts - td 
    if isinstance(ts, pd.Series):
        d[d < 0] += 24 * 3600
    elif d < 0:
        d += 24 * 3600
    return d

In [338]:
t1 = 1 * 3600
t2 = 22 * 3600
t3 = 23 * 3600
t4 = 0 + 60
t5 = 21 * 3600
t6 = 12 * 3600

print(timedelta(seconds=diff(t1, t2)))
print(timedelta(seconds=diff(t3, t2)))
print(timedelta(seconds=diff(t4, t2)))
print(timedelta(seconds=diff(t5, t2)))
print(timedelta(seconds=diff(t6, t2)))

3:00:00
1:00:00
2:01:00
23:00:00
14:00:00

In [339]:
krzyki_sowia_conn = connection_graph[(connection_graph['start_stop'] == 'KRZYKI') & (connection_graph['end_stop'] == 'Sowia')]
krzyki_sowia_conn.head()

,line,departure_time,arrival_time,start_stop,end_stop,departure_sec,arrival_sec
0,A,20:00:00,20:01:00,KRZYKI,Sowia,72000,72060
79,A,17:03:00,17:04:00,KRZYKI,Sowia,61380,61440
165,A,22:19:00,22:20:00,KRZYKI,Sowia,80340,80400
290,A,22:00:00,22:01:00,KRZYKI,Sowia,79200,79260
362,A,06:48:00,06:49:00,KRZYKI,Sowia,24480,24540

In [340]:
sorted_by_dep = krzyki_sowia_conn.sort_values(by='departure_sec')

In [341]:
sorted_by_dep

,line,departure_time,arrival_time,start_stop,end_stop,departure_sec,arrival_sec
254382,248,24:13:00,24:14:00,KRZYKI,Sowia,780,840
255773,251,24:23:00,24:24:00,KRZYKI,Sowia,1380,1440
254263,248,25:13:00,25:14:00,KRZYKI,Sowia,4380,4440
255646,251,25:23:00,25:24:00,KRZYKI,Sowia,4980,5040
254453,248,26:13:00,26:14:00,KRZYKI,Sowia,7980,8040
...,...,...,...,...,...,...,...
179541,126,22:16:00,22:17:00,KRZYKI,Sowia,80160,80220
165,A,22:19:00,22:20:00,KRZYKI,Sowia,80340,80400
4413,A,22:34:00,22:35:00,KRZYKI,Sowia,81240,81300
182567,126,22:46:00,22:47:00,KRZYKI,Sowia,81960,82020
255912,251,23:23:00,23:24:00,KRZYKI,Sowia,84180,84240

In [343]:
dep_time = 22 * 3600
time_diff = diff(krzyki_sowia_conn['departure_sec'], dep_time)
krzyki_sowia_conn.loc[time_diff.sort_values().index].head(20)

,line,departure_time,arrival_time,start_stop,end_stop,departure_sec,arrival_sec
290,A,22:00:00,22:01:00,KRZYKI,Sowia,79200,79260
179541,126,22:16:00,22:17:00,KRZYKI,Sowia,80160,80220
165,A,22:19:00,22:20:00,KRZYKI,Sowia,80340,80400
4413,A,22:34:00,22:35:00,KRZYKI,Sowia,81240,81300
182567,126,22:46:00,22:47:00,KRZYKI,Sowia,81960,82020
255912,251,23:23:00,23:24:00,KRZYKI,Sowia,84180,84240
254382,248,24:13:00,24:14:00,KRZYKI,Sowia,780,840
255773,251,24:23:00,24:24:00,KRZYKI,Sowia,1380,1440
254263,248,25:13:00,25:14:00,KRZYKI,Sowia,4380,4440
255646,251,25:23:00,25:24:00,KRZYKI,Sowia,4980,5040
254453,248,26:13:00,26:14:00,KRZYKI,Sowia,7980,8040
255488,251,26:23:00,26:24:00,KRZYKI,Sowia,8580,8640
254334,248,27:13:00,27:14:00,KRZYKI,Sowia,11580,11640
255886,251,27:23:00,27:24:00,KRZYKI,Sowia,12180,12240
254524,248,27:56:00,27:57:00,KRZYKI,Sowia,14160,14220
255387,251,28:15:00,28:16:00,KRZYKI,Sowia,15300,15360
180658,126,04:38:00,04:39:00,KRZYKI,Sowia,16680,16740
1228,A,04:45:00,04:46:00,KRZYKI,Sowia,17100,17160
178341,126,04:58:00,04:59:00,KRZYKI,Sowia,17880,17940
763,A,05:15:00,05:16:00,KRZYKI,Sowia,18900,18960

In [426]:
connection_graph[connection_graph['start_stop'] == 'KRZYKI'][['line', 'end_stop']].drop_duplicates()

       line                          end_stop
0         A                             Sowia
6030      D                            Zimowa
6107      D                              Orla
20313     2                              Orla
39042     6                              Orla
42644     7                 Radio i Telewizja
42654     7                              Orla
42708     7                   Zajezdnia BOREK
71931    17                              Orla
72013    17                 Radio i Telewizja
72989    17                   Zajezdnia BOREK
126132  107                         Przyjaźni
142980  112                   PARK POŁUDNIOWY
143877  113                         Przyjaźni
178335  126                   PARK POŁUDNIOWY
178341  126                             Sowia
181538  126                              Orla
182644  126                            KRZYKI
187184  127                   PARK POŁUDNIOWY
218002  136                              Orla
228545  144                   PARK POŁUDNIOWY
253813  247                              Orla
253879  247                 Radio i Telewizja
254263  248                             Sowia
254274  248                              Orla
254555  249                   PARK POŁUDNIOWY
254986  249                              Orla
255387  251                             Sowia
261346  602  Partynice (tor wyścigów konnych)
261359  602                           Hallera
262028  612                   PARK POŁUDNIOWY
270369  913                   PARK POŁUDNIOWY
277842  933                            Zimowa

In [220]:
end_stops = connection_graph[(connection_graph['start_stop'] == 'KRZYKI')]['end_stop'].unique()

In [221]:
type(end_stops)

numpy.ndarray

In [510]:
from typing import Union, List

class Graph:

    def __init__(self, conn_graph):
        self.conn_graph = conn_graph
        self.transform()

    def transform(self):
        self.conn_graph['departure_sec'] = self.conn_graph['departure_time'].apply(time_to_normalized_sec)
        self.conn_graph['arrival_sec'] = self.conn_graph['arrival_time'].apply(time_to_normalized_sec)

    def get_nodes(self):
        '''should we also add end_stop?'''
        return self.conn_graph['start_stop'].unique()
    
    def get_lines(self, start_stop, end_stop):
        '''Returns lines connecting two stops'''
        return self.conn_graph[(self.conn_graph['start_stop'] == start_stop) 
                               & (self.conn_graph['end_stop'] == end_stop)]['line'].unique()
    
    def get_stops(self, line):
        return self.conn_graph[self.conn_graph['line'] == line]['start_stop'].unique()

    def get_neighbours(self, start_stop: str) -> np.array:
        '''Returns neighbouring end stops'''
        # return self.conn_graph[self.conn_graph['start_stop'] == start_stop][['line', 'end_stop']].drop_duplicates()
        return self.conn_graph[self.conn_graph['start_stop'] == start_stop]['end_stop'].unique()

    def get_conns(self, dep_time: int, start_stop: str, end_stop: str, lines: List[str]=None):
        '''get all connections sorted by time departure'''
        conn = self.conn_graph[(self.conn_graph['start_stop'] == start_stop) & (self.conn_graph['end_stop'] == end_stop)]
        if lines:
            conn = conn[conn['line'].isin(lines)]
        time_diff = diff(conn['departure_sec'], dep_time)
        return conn.loc[time_diff.sort_values().index]

    def get_earliest_conn(self, dep_time: int, start_stop: str, end_stop: str, line: Union[str, None]=None) -> pd.Series:
        '''Returns the earliest connection between two stops, optionally by a given line'''
        conn = self.get_conns(dep_time, start_stop, end_stop, [line] if line else None)
        return conn.iloc[0]
    
    def get_all_earliest_from(self, dep_time: int, start_stop: str):
        '''Returns all earliest connections to all neighbouring stops'''
        return [self.get_earliest_conn(dep_time, start_stop, end_stop) for end_stop in self.get_neighbours(start_stop)]

    def get_all_earliest_conns(self, dep_time: int, start_stop: str, end_stop: str) -> List[pd.Series]:
        return [self.get_earliest_conn(dep_time, start_stop, end_stop, line) for line in self.get_lines(start_stop, end_stop)]

    def conn_cost(self, line: str, dep_time: int, start_stop: str, end_stop: str):
        '''Cost is the time of waiting for the transport and commuting'''
        connection = self.get_earliest_conn(dep_time, start_stop, end_stop, line)
        return (connection, connection['arrival_sec'] - dep_time)
    
    def cost(self, dep_time: int, conn: pd.Series) -> int:
        return conn['arrival_sec'] - dep_time

In [484]:
g = Graph(connection_graph)

In [485]:
g.get_neighbours('Chłodna')

array(['Wawrzyniaka', 'Sowia'], dtype=object)

In [486]:
g.get_stops('17')

array(['KLECINA', 'Sąsiedzka', 'Braterska', 'Przyjaźni',
       'Radio i Telewizja', 'KRZYKI', 'Orla', 'Jastrzębia', 'Hallera',
       'Sztabowa', 'Rondo', 'Wielka', 'Zaolziańska', 'Arkady (Capitol)',
       'Renoma', 'Opera', 'Park Staromiejski', 'GALERIA DOMINIKAŃSKA',
       'pl. Nowy Targ', 'Hala Targowa', 'pl. Bema', 'Ogród Botaniczny',
       'Górnickiego', 'Piastowska', 'Grunwaldzka', 'Kochanowskiego',
       'Chopina', 'Karłowicza', 'Stadion Olimpijski', '8 Maja',
       'Godebskiego (AWF Wrocław)', 'SĘPOLNO', 'Zajezdnia BOREK',
       'DWORZEC AUTOBUSOWY', 'Sanocka', 'Uniwersytet Ekonomiczny',
       'Zajezdnia OŁBIN', 'DWORZEC NADODRZE', 'Słowiańska', 'Nowowiejska',
       'Jedności Narodowej', 'Na Szańcach'], dtype=object)

In [472]:
g.get_nodes()[:25]

array(['KRZYKI', 'Sowia', 'Chłodna', 'Wawrzyniaka', 'Rymarska',
       'RACŁAWICKA', 'Bukowskiego', 'Stanki', 'Kadłubka', 'Wiejska',
       'Solskiego', 'GRABISZYŃSKA (Cmentarz)', 'FAT', 'Aleja Pracy',
       'Inżynierska', 'Krucza (Mielecka)', 'Krucza', 'Pl. Hirszfelda',
       'Arkady (Capitol)', 'Dworzec Główny (Dworcowa)',
       'skwer Krasińskiego', 'Krasińskiego',
       'Urząd Wojewódzki (Muzeum Narodowe)', 'Katedra',
       'Ogród Botaniczny'], dtype=object)

In [487]:
g.get_conns(time_to_normalized_sec('23:00:00'), 'Żmudzka', 'Żmudzka').iloc[:20]

,line,departure_time,arrival_time,start_stop,end_stop,departure_sec,arrival_sec
166472,121,23:04:00,23:05:00,Żmudzka,Żmudzka,83040,83100
166475,121,23:08:00,23:09:00,Żmudzka,Żmudzka,83280,83340
164225,121,05:36:00,05:37:00,Żmudzka,Żmudzka,20160,20220
164228,121,05:46:00,05:47:00,Żmudzka,Żmudzka,20760,20820
165061,121,05:51:00,05:52:00,Żmudzka,Żmudzka,21060,21120
165064,121,06:01:00,06:02:00,Żmudzka,Żmudzka,21660,21720
166054,121,06:02:00,06:03:00,Żmudzka,Żmudzka,21720,21780
166057,121,06:16:00,06:17:00,Żmudzka,Żmudzka,22560,22620
166193,121,06:18:00,06:19:00,Żmudzka,Żmudzka,22680,22740
166196,121,06:31:00,06:32:00,Żmudzka,Żmudzka,23460,23520
164581,121,06:32:00,06:33:00,Żmudzka,Żmudzka,23520,23580
164264,121,06:37:00,06:38:00,Żmudzka,Żmudzka,23820,23880
164584,121,06:46:00,06:47:00,Żmudzka,Żmudzka,24360,24420
165100,121,06:55:00,06:56:00,Żmudzka,Żmudzka,24900,24960
164267,121,07:01:00,07:02:00,Żmudzka,Żmudzka,25260,25320
166093,121,07:10:00,07:11:00,Żmudzka,Żmudzka,25800,25860
165103,121,07:16:00,07:17:00,Żmudzka,Żmudzka,26160,26220
166232,121,07:29:00,07:30:00,Żmudzka,Żmudzka,26940,27000
166096,121,07:31:00,07:32:00,Żmudzka,Żmudzka,27060,27120
166235,121,07:46:00,07:47:00,Żmudzka,Żmudzka,27960,28020

In [474]:
g.get_lines('Nowowiejska', 'Słowiańska')

array(['1', '4', '6', '11', '16', '23', '70', '250'], dtype=object)

In [475]:
g.get_conns(time_to_normalized_sec('20:00:00'), 'Nowowiejska', 'Słowiańska').head()

,line,departure_time,arrival_time,start_stop,end_stop,departure_sec,arrival_sec
18281,1,20:03:00,20:04:00,Nowowiejska,Słowiańska,72180,72240
100512,70,20:09:00,20:10:00,Nowowiejska,Słowiańska,72540,72600
42441,6,20:15:00,20:17:00,Nowowiejska,Słowiańska,72900,73020
20080,1,20:18:00,20:19:00,Nowowiejska,Słowiańska,73080,73140
99570,70,20:23:00,20:24:00,Nowowiejska,Słowiańska,73380,73440

In [489]:
g.conn_cost('1', time_to_normalized_sec('20:00:00'), 'Nowowiejska', 'Słowiańska')

(line                        1
 departure_time       20:03:00
 arrival_time         20:04:00
 start_stop        Nowowiejska
 end_stop           Słowiańska
 departure_sec           72180
 arrival_sec             72240
 Name: 18281, dtype: object,
 240)

In [492]:
g.get_earliest_conn(time_to_normalized_sec('20:00:00'), 'Nowowiejska', 'Słowiańska', '1')

line                        1
departure_time       20:03:00
arrival_time         20:04:00
start_stop        Nowowiejska
end_stop           Słowiańska
departure_sec           72180
arrival_sec             72240
Name: 18281, dtype: object

In [493]:
conns_from = g.get_all_earliest_from(time_to_normalized_sec('20:00:00'), 'Nowowiejska')

In [495]:
conns_from

[line                        1
 departure_time       20:03:00
 arrival_time         20:04:00
 start_stop        Nowowiejska
 end_stop           Słowiańska
 departure_sec           72180
 arrival_sec             72240
 Name: 18281, dtype: object,
 line                         1
 departure_time        20:07:00
 arrival_time          20:09:00
 start_stop         Nowowiejska
 end_stop          Wyszyńskiego
 departure_sec            72420
 arrival_sec              72540
 Name: 20266, dtype: object,
 line                               6
 departure_time              20:01:00
 arrival_time                20:02:00
 start_stop               Nowowiejska
 end_stop          Jedności Narodowej
 departure_sec                  72060
 arrival_sec                    72120
 Name: 40397, dtype: object,
 line                         6
 departure_time        20:01:00
 arrival_time          20:02:00
 start_stop         Nowowiejska
 end_stop          Daszyńskiego
 departure_sec            72060
 arrival_sec              72120
 Name: 39259, dtype: object]

In [496]:
len(conns_from)

4

In [497]:
for conn in conns_from:
    print(f"{conn['line']} goes from {conn['start_stop']} to {conn['end_stop']} and leaves at {conn['departure_time']}, arrives at {conn['arrival_time']}")

1 goes from Nowowiejska to Słowiańska and leaves at 20:03:00, arrives at 20:04:00
1 goes from Nowowiejska to Wyszyńskiego and leaves at 20:07:00, arrives at 20:09:00
6 goes from Nowowiejska to Jedności Narodowej and leaves at 20:01:00, arrives at 20:02:00
6 goes from Nowowiejska to Daszyńskiego and leaves at 20:01:00, arrives at 20:02:00

In [498]:
g.get_neighbours('Arkady (Capitol)')

array(['Dworzec Główny (Dworcowa)', 'Pl. Hirszfelda', 'EPI', 'Rondo',
       'GALERIA DOMINIKAŃSKA', 'Świdnicka', 'DWORZEC GŁÓWNY',
       'Zaolziańska', 'DWORZEC AUTOBUSOWY', 'Renoma', 'pl. Legionów',
       'pl. Orląt Lwowskich', 'Hallera'], dtype=object)

In [280]:
g.get_neighbours('Tramwajowa')

array(['ZOO', 'Chełmońskiego', 'Hala Stulecia', 'Partyzantów'],
      dtype=object)

In [297]:
g.get_neighbours('Osiedle Sobieskiego')

Series([], Name: end_stop, dtype: object)

In [400]:
g.get_lines('Dworzec Główny (Dworcowa)', 'Krucza (Mielecka)')

array([], dtype=object)

In [265]:
from queue import PriorityQueue

In [277]:
frontier = PriorityQueue()
frontier.put((10, 1))
frontier.put((5, 3))
print(frontier.get())
frontier.put((5, 3))
frontier.put((2, 8))
print(frontier.get())

(5, 3)
(2, 8)

In [278]:
frontier.get()

(5, 3)

Krotka jest w formacie (priority, data)

In [499]:
connection_graph = pd.read_csv(DATA_DIR / 'connection_graph.csv', 
                               usecols=['line', 'departure_time', 'arrival_time', 'start_stop', 'end_stop'], 
                               dtype=str)

In [511]:
graph = Graph(connection_graph)
frontier = PriorityQueue()

In [502]:
def print_info(conn):
    print(f"{conn['line']} goes from {conn['start_stop']} to {conn['end_stop']} and leaves at {conn['departure_time']}, arrives at {conn['arrival_time']}")

In [522]:
def sec_to_time(seconds: int) -> str:
    hour = (seconds // 3600)
    minutes = (seconds % 3600) // 60 
    secs = (seconds % 3600) % 60 
    return f'{hour:02d}:{minutes:02d}:{secs:02d}'

In [540]:
start = 'KLECINA'
goal = 'Przyjaźni'
leave_hour = '20:00:00'

cost_so_far = {}
# if commuting A -> B, then this will be came_from[B] = A so we can recreate the path
came_from = {}
cost_so_far[start] = 0
came_from[start] = None

frontier.put((cost_so_far[start], (start, None)))

leave_sec = time_to_normalized_sec(leave_hour)

i = 0
while not frontier.empty():
    # get the stop with the lowest cost 
    cost, (current, line) = frontier.get()

    if current == goal:
        break 

    print(f'[{i}]')
    for next_conn in graph.get_all_earliest_from(leave_sec + cost, current):
        print_info(next_conn)
        next = next_conn['end_stop']
        # cost of commuting start --> current and current --> next 
        new_cost = cost + graph.cost(leave_sec + cost, next_conn)
        if next not in cost_so_far or new_cost < cost_so_far[next]:
            print(f'We arrive from {start} to {next} at {sec_to_time(leave_sec + new_cost)}')
            cost_so_far[next] = new_cost
            frontier.put((new_cost, (next, next_conn['line'])))
            came_from[next] = current
    i+=1

[0]
107 goes from KLECINA to Kościelna and leaves at 20:05:00, arrives at 20:06:00
We arrive from KLECINA to Kościelna at 20:06:00
107 goes from KLECINA to Skarbowców and leaves at 20:02:00, arrives at 20:03:00
We arrive from KLECINA to Skarbowców at 20:03:00
7 goes from KLECINA to Sąsiedzka and leaves at 20:03:00, arrives at 20:04:00
We arrive from KLECINA to Sąsiedzka at 20:04:00
[1]
107 goes from Skarbowców to KLECINA and leaves at 20:04:00, arrives at 20:05:00
107 goes from Skarbowców to Os. Przyjaźni and leaves at 20:03:00, arrives at 20:04:00
We arrive from KLECINA to Os. Przyjaźni at 20:04:00
[2]
D goes from Os. Przyjaźni to Skarbowców and leaves at 20:11:00, arrives at 20:12:00
107 goes from Os. Przyjaźni to Zimowa and leaves at 20:04:00, arrives at 20:05:00
We arrive from KLECINA to Zimowa at 20:05:00
[3]
17 goes from Sąsiedzka to KLECINA and leaves at 20:12:00, arrives at 20:13:00
7 goes from Sąsiedzka to Braterska and leaves at 20:04:00, arrives at 20:05:00
We arrive from KLECINA to Braterska at 20:05:00
[4]
17 goes from Braterska to Sąsiedzka and leaves at 20:11:00, arrives at 20:12:00
7 goes from Braterska to Przyjaźni and leaves at 20:05:00, arrives at 20:06:00
We arrive from KLECINA to Przyjaźni at 20:06:00
[5]
D goes from Zimowa to Os. Przyjaźni and leaves at 20:10:00, arrives at 20:11:00
107 goes from Zimowa to KRZYKI and leaves at 20:05:00, arrives at 20:06:00
We arrive from KLECINA to KRZYKI at 20:06:00
133 goes from Zimowa to Sowia and leaves at 20:25:00, arrives at 20:26:00
We arrive from KLECINA to Sowia at 20:26:00
[6]
126 goes from KRZYKI to Sowia and leaves at 20:18:00, arrives at 20:19:00
We arrive from KLECINA to Sowia at 20:19:00
D goes from KRZYKI to Zimowa and leaves at 20:09:00, arrives at 20:10:00
7 goes from KRZYKI to Orla and leaves at 20:08:00, arrives at 20:10:00
We arrive from KLECINA to Orla at 20:10:00

TypeError: '<' not supported between instances of 'tuple' and 'str'

In [539]:
def path_to_list(node: str, connections: dict):
    path = [node]
    while node is not None:
        node = connections[node]
        path.append(node)
    path.reverse()
    return path[1:]

path_to_list(goal, came_from)

['KLECINA', 'Sąsiedzka', 'Braterska', 'Przyjaźni']

In [536]:
came_from

{'KLECINA': None,
 'Kościelna': 'KLECINA',
 'Skarbowców': 'KLECINA',
 'Sąsiedzka': 'KLECINA',
 'Os. Przyjaźni': 'Skarbowców',
 'Zimowa': 'Os. Przyjaźni',
 'Braterska': 'Sąsiedzka',
 'Przyjaźni': 'Braterska',
 'KRZYKI': 'Zimowa',
 'Sowia': 'KRZYKI',
 'Orla': 'KRZYKI',
 'Radio i Telewizja': 'KRZYKI',
 'Zajezdnia BOREK': 'KRZYKI',
 'PARK POŁUDNIOWY': 'KRZYKI',
 'Partynice (tor wyścigów konnych)': 'KRZYKI',
 'Hallera': 'KRZYKI',
 'WAŁBRZYSKA': 'Kościelna',
 'KLECINA (Stacja kolejowa)': 'Kościelna'}

In [521]:
sec_to_time(time_to_normalized_sec('23:59:01'))

'23:59:01'

In [516]:
time_to_normalized_sec('20:00:00') // (3600)

20

In [ ]:
graph.get_all_earliest_conns(leave_hour, start)

In [384]:
print(graph.lines('KLECINA', neighs[0]))
print(graph.lines('KLECINA', neighs[1]))
print(graph.lines('KLECINA', neighs[2]))

['D' '107' '133' '247' '933']
['D' '107' '133' '933']
['7' '17' '247']

In [386]:
lines = graph.lines(start, neighs[0])
leaving_conns = [graph.get_earliest_conn(line, leave_sec, start, neighs[0]) for line in lines]

print(graph.conn_cost(lines[0], leave_sec, start, neighs[0]))

(line                      D
departure_time     20:13:00
arrival_time       20:14:00
start_stop          KLECINA
end_stop          Kościelna
departure_sec         72780
arrival_sec           72840
Name: 7870, dtype: object, 840)